$wesay_cdn: 'http://cdn-opimage.qiumeiapp.com/vipXcx/weiSaid/';
$newuser_cdn: 'http://cdn-opimage.qiumeiapp.com/vipXcx/newUser/';
@function npx($value) {
    @return $value/2px;
  }

  @mixin flex($direction: column, $justContent: initial, $alignItems: initial) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
    justify-content: $justContent;
    -webkit-justify-content: $justContent;
    align-items: $alignItems;
    -webkit-align-items: $alignItems;
  }
@mixin wh($w,$h){
  width:$w;
  height:$h;
}
  @mixin flexNum($num: 1) {
    -webkit-flex: $num;
    -ms-flex: $num;
    flex: $num;
    -webkit-box-flex: $num;
    -moz-box-flex: $num;
  }

  @mixin multi-line-text($line: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }

  $themeColor: #dc0000;
$borderColor: #e8e8e8;
$lineBorder: rpx(1) solid #e8e8e8;

page {
  background-color: #f9f9f9;
}


  .fl{
    float: left;
  }

  .clearfix:after,
  .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom: 1;
  }

  .touch-fluency {
    -webkit-overflow-scrolling: touch;
  }

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 200rpx 0;
    box-sizing: border-box;
  }


.cen{
  text-align: center;
}

// page home and page classify top search container style
.header-search-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: rpx(100);
  top: 0;
  background-color: #e6e6e6;
  @include flex(column, center, center);
  .search-box {
    width: rpx(700);
    height: rpx(52);
    line-height: rpx(52);
    border-radius: rpx(25);
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    color: #999999;
    font-size: rpx(30);
    image {
      width: rpx(30);
      height: rpx(30);
      vertical-align: middle;
      margin-right: rpx(15);
    }
  }
}

// pintuan phone authorize dialog
.authorize-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  .dialog-content {
    width: rpx(600);
    height: rpx(677);
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: rpx(30);
    -moz-border-radius: rpx(30);
    border-radius: rpx(30);
    -webkit-box-shadow: 0 0 10px #e3e3e3;
    -moz-box-shadow: 0 0 10px #e3e3e3;
    box-shadow: 0 0 10px #e3e3e3;
    image{
      width: 100%;
      height: 100%;
    }
    button{
      position: absolute;
      left: rpx(60);
      bottom: rpx(114);
      width: rpx(480);
      height: rpx(82);
      background-color: $themeColor;
      color: #ffffff;
      font-size: rpx(36);
      -webkit-border-radius: rpx(41);
      -moz-border-radius: rpx(41);
      border-radius: rpx(41);
      line-height: rpx(82);
    }
  }
}